<!DOCTYPE html>
<!--
Based off of 
http://getbootstrap.com/examples/blog/
 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
            <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Joey Eremondi: $title$</title>

    <!-- Bootstrap core CSS -->
    <!--link href="../../dist/css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <!--link href="blog.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <!--TODO make active based on current page -->

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/index.html">Home</a>
          <a class="blog-nav-item" href="/posts.html">Posts</a>
          <a class="blog-nav-item" href="/about-me.html">About Me</a>
          <a class="blog-nav-item" href="/research.html">Research</a>
          <a class="blog-nav-item" href="/publications.html">Publications</a>
          <a class="blog-nav-item" href="/software.html">Software</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Joey Eremondi</h1>
        <p class="lead blog-description">Researcher and Developer</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">$title$</h2>
            <!--p class="blog-post-meta">January 1, 2014 by <a href="#">Joey Eremondi</a></p-->
            $body$
          </div><!-- /.blog-post -->

          
<!--
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
          -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>I'm a Masters student in Computing Science at the University of Utrecht.
            My interests include functional programming, formal langauges, and theory of computation. 
            </p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
              <li><a href="#">March 2013</a></li>
              <li><a href="#">February 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://github.com/JoeyEremondi">GitHub</a></li>
              <li><a href="http://www.linkedin.com/in/jeremondi">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Joey's Computing Blog: $title$</title>
        <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <script type="text/x-mathjax-config"> 
            MathJax.Hub.Config( { tex2jax: { inlineMath: [ ["\\(", "\\)"] ]
                                           , displayMath: [ ["\\[", "\\]" ] ]
                                           , processEscapes: true
                                           }
                              });
        </script> 
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> 
        </script> 

        <script type="text/javascript" src="/js/jquery.min.js">
        </script>
        <script type="text/javascript" src="/js/bootstrap.min.js">
        </script>

    </head>
    <body>
        <div class="container">
            <div id="header">
                <div id="logo" class="text-center">
                    <h1>Joey Eremondi: Researcher and Developer</h1>
                </div>
                <ul id="navigation" class="list-inline text-center">
                    <li><a href="/">Home</a></i>
                    <li><a href="/posts.html">Posts</a></li>
                    <li><a href="/about-me.html">About Me</a></li>
                    <li><a href="/research.html">Research</a></li>
                    <li><a href="/publications.html">Publications</a></li>
                    <li><a href="/software.html">Software</a></li>
                </ul>
            </div>

            <div id="content">
                <div class="title text-center">
                    <h2>$title$</h2>
                    <hr>
                </div>

                $body$
            </div>
            <div id="footer" class="col-md-12">
                <div class="row"><hr /></div>
                <div class="row">
                    <ul class="list-inline text-center">
                        <li> 
                            <i class="fa fa-github"></i>
                            <a href="http://github.com/JoeyEremondi">github</a>
                        </li>
                        <li> 
                            <i class="fa fa-twitter-square"></i>
                            <a href="http://twitter.com/jmitePlus">twitter</a>
                        </li>
                        <li>©2014 Joey Eremondi</li>
                    </ul>
                </div>
                <div class="row text-center">
                    Powered by  <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                </div>
            </div>
        </div>
        </script>
    </body>
</html>
-->