<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Joey's Computing Blog: $title$</title>
        <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <script type="text/x-mathjax-config"> 
            MathJax.Hub.Config( { tex2jax: { inlineMath: [ ["\\(", "\\)"] ]
                                           , displayMath: [ ["\\[", "\\]" ] ]
                                           , processEscapes: true
                                           }
                              });
        </script> 
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> 
        </script> 

        <script type="text/javascript" src="/js/jquery.min.js">
        </script>
        <script type="text/javascript" src="/js/bootstrap.min.js">
        </script>

    </head>
    <body>
        <div class="container">
            <div id="header">
                <div id="logo" class="text-center">
                    <h1>Joey's Computing Blog</h1>
                </div>
                <ul id="navigation" class="list-inline text-center">
                    <li><a href="/">Home</a></i>
                    <li><a href="/posts.html">Posts</a></li>
                    <li><a href="/about-me.html">About Me</a></li>
                    <li><a href="/research.html">Research</a></li>
                    <li><a href="/publications.html">Publications</a></li>
                    <li><a href="/software.html">Software</a></li>
                </ul>
            </div>

            <div id="content">
                <div class="title text-center">
                    <h2>$title$</h2>
                    <hr>
                </div>

                $body$
            </div>
            <div id="footer" class="col-md-12">
                <div class="row"><hr /></div>
                <div class="row">
                    <ul class="list-inline text-center">
                        <li> 
                            <i class="fa fa-github"></i>
                            <a href="http://github.com/JoeyEremondi">github</a>
                        </li>
                        <li> 
                            <i class="fa fa-twitter-square"></i>
                            <a href="http://twitter.com/jmitePlus">twitter</a>
                        </li>
                        <li>©2014 Joey Eremondi</li>
                    </ul>
                </div>
                <div class="row text-center">
                    Powered by  <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                </div>
            </div>
        </div>
        </script>
    </body>
</html>
